@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 109px;
  letter-spacing: 0.01em;
  text-align: center;
}

.title-sm {
  font-size: 32px;
  line-height: normal;
  text-align: start;
}

.form {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.nav-form {
  display: flex;
  align-items: baseline;
}

.main-logo-primary {
  color: #0069CA
}

.main-logo-secondary {
  color: #8C19D2
}

@media screen and (max-width: 600px) {
  .main-title {
    font-size: 62px;
  }

  .title-sm {
    text-align: center
  }
}